.login-contenedor{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#f5f6f8;
}

.login-box{
width:420px;
text-align:center;
}

.login-logo{
width:120px;
margin-bottom:10px;
}

.login-title{
color:#102757;
margin-bottom:30px;
}

form{
display:flex;
flex-direction:column;
gap:10px;
}

label{
text-align:left;
font-size:14px;
color:#1f3c88;
}

input{
padding:12px;
border-radius:8px;
border:1px solid #cfd4dc;
}

.forgot{
font-size:12px;
color:#204BA8;
text-align:left;
cursor:pointer;
}

.login-btn{
margin-top:10px;
padding:12px;
background:#18397F;
color:white;
border:none;
border-radius:8px;
font-weight:bold;
cursor:pointer;
}

.register{
margin-top:20px;
font-size:14px;
}

.register span{
color:#204BA8;
font-weight:bold;
cursor:pointer;
}