.login-contenedor{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 999;
}


.Circulo1 {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  background-color: #1a3c8e; 
  border-radius: 50%;
  top: -80px; 
  left: -80px; 
  z-index: 1;  
}


.circulo2 {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #2e6df56c;
  border-radius: 50%;
  top: 60px;  
  left: 100px;
  z-index: 2;  
}

.circulo3 {
    content: "";
    position: absolute;
  width: 40px;
  height: 40px;
  background-color: #2e6df56c;
  border-radius: 50%;
  top: 210px;  
  left: 100px;
  
  z-index: 2;
}

.circulo4 {
    content: "";
    position: absolute;
  width: 20px;
  height: 20px;
  background-color: #2e6df56c; 
  top: 150px;
  left: 230px;
  border-radius: 50%;
  z-index: 2;
}

.circulo5 {
    content: "";
    position: absolute;
  width: 450px; 
  height: 450px;
  background-color: #18397F; 
  top: 450px;      
  transform: translateY(-70%);
  right: -300px;  
  border-radius: 50%;   
  z-index: 1;      
}

.circulo6 {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #2e6df56c;
  border-radius: 50%;
  top: 300px;  
 right: 100px;
  z-index: 2;  
}

.circulo7 {
    content: "";
    position: absolute;
  width: 40px;
  height: 40px;
  background-color: #2e6df56c;
  border-radius: 50%;
  top: 450px;  
  right: 180px;
  
  z-index: 2;
}

.circulo8 {
  position: absolute;
  width: 450px;
  height: 450px;
  background-color: #18397F;
  bottom: -250px;
  left: -250px;
  border-radius: 50%;
  z-index: 1;
}




.login-box{
width:420px;
text-align:center;
z-index: 10;  

}

.login-logo{
width:200px;
margin-bottom:10px;
}

.login-title{
color:#18397F;
margin-bottom:10px;
font-family: poppins, sans-serif;
}

form{
font-family: poppins, sans-serif;
display:flex;
flex-direction:column;
gap:10px;
}

label{
font-family: poppins, sans-serif;
text-align:left;
font-size:14px;
color:#1f3c88;
}

input{
padding:12px;
border-radius:8px;
border:1px solid #cfd4dc;

}

.forgot{
font-family: poppins, sans-serif;
font-size:12px;
color:#204BA8;
text-align:left;
cursor:pointer;
}

.login-btn{
font-family: poppins, sans-serif;
margin-top:10px;
padding:12px;
background:#18397F;
color:white;
border:none;
border-radius:8px;
font-weight:bold;
cursor:pointer;
}

.register{
    font-family: poppins, sans-serif;
margin-top:20px;
font-size:14px;
}

.register span{
    font-family: poppins, sans-serif;
color:#204BA8;
font-weight:bold;
cursor:pointer;
}